<% layout('layouts/boilerplate') %>
<h1>All Campgrounds</h1>
<div>
    <a href="/campgrounds/new">Add Campground</a>
</div>
<ul>
    <% for( let camground of campgrounds ) { %>
    <li><a href="/campgrounds/<%= camground.id %>"><%= camground.title %></a></li>
    <% } %>
</ul>